@model IEnumerable<BookShelf.Models.Books>
@{

    
}
<table class="table table-bordered">
    <tr>
        <th>ID</th> 
        <th>Title</th>
        <th>Author</th>
    </tr>
    @foreach(var b in Model)
    {
        <tr>
            <td>@b.Id</td>
            <td>@b.Title</td>
            <td>@b.Author</td>
        </tr>
    }
</table>